body {
  background-color: var(--color2);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color1);
  color: var(--color3);
  padding: 10px;
}

.centered-horizontal {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--color2);
  color: var(--color4);
}

h1 {
  font-size: x-large;
  font-weight: bold;
}